<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TodoMapper">

    <sql id="orderByClause">
        ORDER BY
        <choose>
            <when test="sort == 'title'">title</when>
            <when test="sort == 'completed'">completed</when>
            <otherwise>created_at</otherwise>
        </choose>
        <choose>
            <when test="direction == 'asc'">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
    </sql>

    <select id="findAll" resultType="Todo">
        SELECT id, title, completed, created_at
        FROM todos
        <include refid="orderByClause"/>
    </select>

    <select id="searchByTitle" resultType="Todo">
        SELECT id, title, completed, created_at
        FROM todos
        WHERE title LIKE CONCAT('%', #{keyword}, '%')
        <include refid="orderByClause"/>
    </select>

    <select id="findById" parameterType="long" resultType="Todo">
        SELECT id, title, completed, created_at
        FROM todos
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="Todo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO todos (title, completed)
        VALUES (#{title}, COALESCE(#{completed}, FALSE))
    </insert>

    <update id="update" parameterType="Todo">
        UPDATE todos
        SET title = #{title},
            completed = #{completed}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM todos
        WHERE id = #{id}
    </delete>

</mapper>
